#header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

header.page-header {
    background: no-repeat left/cover url(/extensions/f4bf4154f4ef9c44ed2c57e5835460c2.jpg);
    display: inline-flex;
    height: 159px;
    min-width: 500px;
    font-size: large;
    justify-content: right;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(149, 147, 147);
    text-shadow: rgb(22, 21, 21) 0 0 .2em;
}

header.page-header > h1 {
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', cursive,
        fantasy;
    margin: 2%;
}

body{
    background-color: #000;
}

menu {
    margin-top: -28px;
	margin-left: -10px;
	position: fixed;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000;
	justify-content: center;
	display: flex;
  }
  
  li {
	float: left;
  }
  
  li button {
	display: block;
	color: rgb(133, 131, 131);
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  text-align: center;
	padding: 14px 16px;
	text-decoration: none;
    background-color: #333;
  }
  
  li button:hover {
	background-color: #111;
  }

  #helloLabel{
      text-align: left;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: large;
      color: rgba(243, 84, 84, 0.53)
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(216, 206, 55);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: rgb(10, 10, 10);    
    text-align: center;
    
  }
  footer a{
    color: rgb(10, 10, 10);    
  }
  #gameScope{
    display: flex;
  }
  #stat{    
    padding: 5%;
    color: wheat;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
  }
  .inGameLbl{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;

  }
  .inGameLbltxt{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
  }
  canvas{
    padding: 5%;
    zoom: 110%;
    border: 3px solid rgb(216, 206, 55);
    background: url('./extensions/back.jpg')    
  } 
  input{
    text-align: center;
    background-color: wheat;
    color: #000;
    border-bottom: 2px;
    font-size: large;
    margin: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
  }
  content{
    display: block;
    text-align: center;
    color: rgb(109, 106, 106);
    border-bottom: 2px;
    border: "none";
    font-size: large;
    margin: 1px;
  }
  #settingsDiv{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin: auto;
    
  }
  #aboutDiv{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

  .modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #333;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

select{
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: cursive, sans-serif;
  outline: 0;
  background: wheat;
  color: black;
  border: 1px solid yellow;
  padding: 4px;
  border-radius: 9px;
  cursor: pointer;

}
button{
  cursor: pointer;
}
input[type="button"]{
  cursor: pointer;

}